<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="{{$content.header.description}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="preload" href="{{$content.title.backgroundUrl}}" as="image">

		<meta name="theme-color" content="{{$content.header.themeColor}}">
		<title>{{$content.header.title}}</title>
		<style type="text/css" media="screen">
			{{include "css/fonts.css"}}
			{{include "css/main.css"}}
		</style>
	</head>
	<body>
		<div class="container">
		<header style="background-image:url('{{$content.title.backgroundUrl}}'">{{$content.title.content}}</header>
		{{if isset($content.gamertags)}}
		<section class="grid">
			<h1>Gamertags.</h1>
			<div class="cards">
				{{foreach $content.gamertags gamertag}}
				<div class="card">
					{{include $gamertag.image}}
					<h2>{{$gamertag.title}}: {{$gamertag.gamertag}}</h2>
					<p>{{$gamertag.text}}</p>
					{{if isset($gamertag.link)}}
					<a class="button" target="_blank" rel="noopener" href="{{$gamertag.link.url}}">
						{{$gamertag.link.text}} {{include "assets/arrow-r.svg"}}
					</a>
					{{/if}}
				</div>
				{{/foreach}}
			</div>
		</section>
		{{/if}}
		{{if isset($content.socialmedia)}}
		<section class="grid">
			<h1>Social.</h1>
			<div class="cards">
				{{foreach $content.socialmedia socialmedia}}
				<div class="card">
					{{include $socialmedia.image}}
					<h2>{{$socialmedia.title}}: {{$socialmedia.name}}</h2>
					<p>{{$socialmedia.text}}</p>
					{{if isset($socialmedia.link)}}
					<a class="button" target="_blank" rel="noopener" href="{{$socialmedia.link.url}}">
						{{$socialmedia.link.text}} {{include "assets/arrow-r.svg"}}
					</a>
					{{/if}}
				</div>
				{{/foreach}}
			</div>
		</section>
		{{/if}}
		{{if isset($content.specs.specs)}}
		<section class="rig dark">
			<div>
				<h1>Rig.</h1>
				<table>
					<tbody>
						{{foreach $content.specs.specs spec}}
						<tr>
							<td>{{$spec[0]}}</td>
							<td>{{$spec[1]}}</td>
						</tr>
						{{/foreach}}
					</tbody>
				</table>
				<a class="button bright" target="_blank" rel="noopener" href="{{$content.specs.url}}">
					full specs {{include "assets/arrow-r.svg"}}
				</a>
			</div>
		</section>
		{{/if}}
		<footer>
			{{foreach $content.footer foot}}
				{{$foot}}<br />
			{{/foreach}}
		</footer>
	</div>
</body>
</html>